server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/qr_attendance_dev?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
      hibernate.format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:seed
    baseline-on-migrate: false
    validate-on-migrate: true

logging:
  level:
    org.flywaydb: INFO
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: info

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

app:
  security:
    jwt:
      issuer: "attendance-api-dev"
      secret: "CHANGE_ME_DEV_32_CHARS_MINIMUM_SECRET"
      accessTokenMinutes: 60
      refreshTokenDays: 30
